[Unit]
Description=icetunnel
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
Environment="NODE_PATH=/usr/lib/node_modules"
ExecStart=/usr/bin/icetunnel -r -s 8080 --ssl=false
Restart=always

[Install]
WantedBy=multi-user.target
